
.profile{
  height: 400px;
  width: 500px;
  background-color: rgb(227, 36, 15);
    
   }
   
.card1{
   height: 600px;
   width: 500px;
    background-color: rgb(57, 53, 58);
    border-bottom-right-radius: 50px;
    
   }

   img{
    height: 200px;
    width: 200px;
    border-radius: 60%;
    position: relative;
    top: 300px;
    centre: 750px;
   }